<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

Add new user

<form th:action="@{/registration}" method="post" >
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>

    <div>
        <input type="checkbox" id="admin" name="admin">
        <label for="admin">ADMIN</label>
    </div>


    <div><input type="submit" value="Reg"/></div>
</form>

</body>
</html>